<?xml version="1.0" encoding="UTF-8"?>
<phpunit stopOnFailure="false">
    <testsuites>
        <testsuite name="AllTests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./../src/SvyaznoyApi</directory>
        </whitelist>
    </filter>
</phpunit>
